# Node.js
node_modules/
node_modules/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.env
.env.*.local

# Logs
logs/
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Build output
dist/
build/
coverage/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Terraform variables files
*.tfvars
*.tfvars.json

# Sensitive files
.terraform.tfstate
override.tf
override.tf.json

# CLI configuration
.terraform/
.terraform/*
.terraform.lock.hcl

# Local execution plans
*.plan